@model VedaSystem.Application.ViewModels.EmailViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Email</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerapeutaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerapeutaId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terapeuta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terapeuta.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnableSsl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnableSsl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Port)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Port)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseDefaultCredentials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseDefaultCredentials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBodyHtml)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBodyHtml)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Smtp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Smtp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
