@model VedaSystem.Application.ViewModels.InboxViewModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <base href="../" />
    <title>Inbox - Veda Admin</title>
    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/views/pages/page-inbox/page-style.css">
</head>
<body>
    <div class="page-content container container-plus">
        <div class="row">
            <div class="col-12 col-sm-4 col-xl-3">
                <div id="aside-menu" class="modal fade modal-off-sm ace-aside aside-left">
                    <div class="modal-dialog modal-dialog-scrollable" style="max-width: 280px;">
                        <div class="modal-content brc-dark-l4 border-y-0 border-l-0 radius-l-0">
                            <div class="modal-header d-sm-none position-tr mt-n25 mr-n2 border-0" style="z-index: 111;">
                                <button type="button" class="btn btn-brc-tp btn-white btn-xs btn-h-red btn-a-red text-xl" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body pt-lg-1 px-2 px-sm-1 ace-scrollbar text-right">
                                <div class="pr-2 px-lg-3 pt-lg-4">
                                    <div class="text-center mb-4">
                                        <a href="#aside-compose" data-toggle="modal" class="btn btn-blue px-45 py-2 text-105 radius-2">
                                            <i class="fa fa-pencil-alt mr-1"></i>
                                            Escrever
                                        </a>
                                    </div>
                                    <form autocomplete="off" class="btn-group btn-group-toggle btn-group-vertical d-flex" data-toggle="buttons">
                                        <a href="#" class="d-style mb-1 active btn py-25 btn-outline-dark btn-h-outline-blue btn-a-outline-blue btn-a-bold w-100 btn-brc-tp border-none border-l-4 radius-l-0 radius-r-round text-left">
                                            <i class="fa fa-inbox w-3 f-n-hover"></i>
                                            Inbox

                                            @if (Model.QtdNaoLidos > 0)
                                            {
                                                <span class="badge badge-pill px-3 badge-danger float-right">@Html.DisplayFor(a => a.QtdNaoLidos)</span>
                                            }
                                            <input type="radio" name="inbox" checked />
                                        </a>
                                        <a href="javascript:VerGenerico('@Model.EmailMessages.ToList()[0].TerapeutaId', 'favoritos')" class="d-style mb-1 btn py-25 btn-outline-dark btn-h-outline-blue btn-a-outline-blue btn-a-bold w-100 btn-brc-tp border-none border-l-4 radius-0 text-left">
                                            <i class="fa fa-star text-orange-d1 w-3 f-n-hover"></i>
                                            Favoritos
                                            <input type="radio" name="inbox" />
                                        </a>
                                        <a href="javascript:VerGenerico('@Model.EmailMessages.ToList()[0].TerapeutaId','enviados')" class="d-style mb-1 btn py-25 btn-outline-dark btn-h-outline-blue btn-a-outline-blue btn-a-bold w-100 btn-brc-tp border-none border-l-4 radius-0 text-left">
                                            <i class="fa fa-paper-plane w-3 f-n-hover"></i>
                                            Enviados
                                            <input type="radio" name="inbox" />
                                        </a>
                                        <a href="javascript:VerGenerico('@Model.EmailMessages.ToList()[0].TerapeutaId', 'rascunhos')" class="d-style mb-1 btn py-25 btn-outline-dark btn-h-outline-blue btn-a-outline-blue btn-a-bold w-100 btn-brc-tp border-none border-l-4 radius-0 text-left">
                                            <i class="fa fa-edit w-3 f-n-hover"></i>
                                            Rascunhos
                                            <span class="badge badge-pill px-3 bgc-primary-l2 text-primary-d1 float-right">2</span>
                                            <input type="radio" name="inbox" />
                                        </a>
                                        <a href="javascript:VerGenerico('@Model.EmailMessages.ToList()[0].TerapeutaId', 'lixeira')" class="d-style mb-1 btn py-25 btn-outline-dark btn-h-outline-blue btn-a-outline-blue btn-a-bold w-100 btn-brc-tp border-none border-l-4 radius-0 text-left">
                                            <i class="fa fa-trash w-3 f-n-hover"></i>
                                            Lixeira
                                            <input type="radio" name="inbox" />
                                        </a>
                                    </form>
                                    <hr class="brc-secondary-l3 mt-3 mb-4" />
                                    <div class="d-flex mb-2">
                                        <h3 class="text-105 text-secondary-d3 pl-2 text-600">
                                            Grupo
                                        </h3>
                                        <a href="#" class="ml-auto btn btn-xs btn-info radius-round text-120 text-600 py-0">
                                            +
                                        </a>
                                    </div>
                                    <div class="p-2 d-flex align-items-center bgc-h-pink-l4 radius-1" role="button">
                                        <span class="d-inline-block w-2 h-2 border-3 brc-pink radius-round mr-3"></span>
                                        Trabalho
                                    </div>
                                    <div class="p-2 d-flex align-items-center bgc-h-blue-l3 radius-1" role="button">
                                        <span class="d-inline-block w-2 h-2 border-3 brc-blue radius-round mr-3"></span>
                                        Pacientes
                                    </div>
                                    <div class="p-2 d-flex align-items-center bgc-h-green-l3 radius-1" role="button">
                                        <span class="d-inline-block w-2 h-2 border-3 brc-green radius-round mr-3"></span>
                                        Duvidas
                                    </div>
                                    <div class="p-2 d-flex align-items-center bgc-h-orange-l3 radius-1" role="button">
                                        <span class="d-inline-block w-2 h-2 border-3 brc-orange radius-round mr-3"></span>
                                        Geral
                                    </div>
                                    <hr class="brc-secondary-l3 mt-3 mb-4" />
                                    <div class="text-center mb-3">
                                        <a href="#" class="py-15 px-4 btn btn-light-secondary btn-h-default btn-a-default btn-brc-tp" role="button">
                                            <i class="fa fa-cog w-3"></i>
                                            Configurações
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-xl-9 pt-3" id="message-list">
                <div class="d-flex flex-column flex-md-row pb-35 pt-2">
                    <div class="order-last order-md-first pl-1 pl-md-3 d-flex align-items-center">
                        <label class="mb-0 ">
                            <input id="select-all" type="checkbox" class="border-2 brc-secondary-m1 brc-h-orange-m1" />
                        </label>
                        <div class="dropdown ml-2 mr-3">
                            <button type="button" class="btn btn-outline-lightgrey btn-h-light-lightgrey btn-a-light-lightgrey btn-brc-tp btn-xs px-1 py-2px dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-chevron-down text-85"></i>
                            </button>
                            <div class="dropdown-menu dropdown-center">
                                <a class="dropdown-item m-1px px-4 py-1" href="#">
                                    All
                                </a>
                                <a class="dropdown-item m-1px px-4 py-1" href="#">
                                    Unread
                                </a>
                                <a class="dropdown-item m-1px px-4 py-1" href="#">
                                    Read
                                </a>
                                <a class="dropdown-item m-1px px-4 py-1" href="#">
                                    Starred
                                </a>
                            </div>
                        </div>
                        <div id="inbox-header" class="pb-1px">
                            <h3 class="text-xl text-dark-m3 mb-0 d-inline-block">
                                Inbox
                            </h3>
                            <span class="text-grey-m1 text-md ml-2">(@Model.QtdNaoLidos mensagens não lidas)</span>
                        </div>
                        <div id="inbox-actions" class="d-none">
                            <div class="dropdown d-inline-block">
                                <a href="#" class="btn btn-sm btn-lighter-default btn-text-dark btn-bgc-white btn-h-outline-blue btn-a-outline-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                    <i class="fa fa-caret-down ml-1"></i>
                                </a>
                                <div class="dropdown-menu shadow-sm dropdown-center brc-secondary-l1 radius-1 px-2px py-1">
                                    <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
                                        <i class="fa fa-reply w-3 text-blue-d2"></i>
                                        Reply
                                    </a>
                                    <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
                                        <span class="w-3 d-inline-block">
                                            <i class="fa fa-reply fa-flip-horizontal text-green-d2"></i>
                                        </span>
                                        Forward
                                    </a>
                                    <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
                                        <i class="fa fa-folder-open text-orange-d2 w-3"></i>
                                        Archive
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
                                        <i class="fa fa-eye w-3 text-blue-d2"></i>
                                        Mark as read
                                    </a>
                                    <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
                                        <i class="fa fa-eye-slash w-3 text-green-d2"></i>
                                        Mark as unread
                                    </a>
                                    <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
                                        <i class="far fa-flag w-3 text-danger-d2"></i>
                                        Flag
                                    </a>
                                </div>
                            </div>
                            <div class="dropdown d-inline-block">
                                <a href="#" class="btn btn-sm btn-lighter-default btn-text-dark btn-bgc-white btn-h-outline-blue btn-a-outline-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-folder mr-1"></i>
                                    Move to
                                    <i class="fa fa-caret-down ml-1"></i>
                                </a>
                                <div class="dropdown-menu shadow-sm dropdown-center brc-secondary-l1 radius-1 px-2px py-1">
                                    <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
                                        <span class="d-inline-block w-2 h-2 border-3 brc-pink radius-round mr-1 mb-1 align-middle"></span>
                                        Family
                                    </a>
                                    <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
                                        <span class="d-inline-block w-2 h-2 border-3 brc-blue radius-round mr-1 mb-1 align-middle"></span>
                                        Friends
                                    </a>
                                    <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
                                        <span class="d-inline-block w-2 h-2 border-3 brc-green radius-round mr-1 mb-1 align-middle"></span>
                                        Work
                                    </a>
                                    <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
                                        <span class="d-inline-block w-2 h-2 border-3 brc-orange radius-round mr-1 mb-1 align-middle"></span>
                                        Other
                                    </a>
                                </div>
                            </div>
                            <div class="dropdown d-inline-block">
                                <a href="#" class="btn btn-sm btn-lighter-default btn-text-dark btn-bgc-white btn-h-outline-danger btn-a-outline-danger">
                                    <i class="fa fa-trash-alt text-danger mr-sm-1"></i>
                                    <span class="d-none d-sm-inline">Delete</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="order-first order-md-last ml-md-auto mb-4 mb-md-0">
                        <div class="input-group">
                            <div class="input-group-prepend d-sm-none" style="z-index: 222;">
                                <button type="button" class="mr-n5 btn btn-brc-tp btn-outline-dark btn-a-green btn-h-green radius-l-1 px-25 btn-sm static" data-toggle="modal" data-target="#aside-menu">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control radius-1 px-5 pl-sm-3 brc-primary-tp2 brc-on-focus" placeholder="Search messages ...">
                            <div class="input-group-append" style="z-index: 222;">
                                <button class="btn btn-outline-blue radius-r-1 btn-tp px-25 btn-sm ml-n475 static" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="list-message">
                    @await Html.PartialAsync("_ListMessage", Model.EmailMessages)
                </div>
                <div id="message-box">

                </div>
                <div class="bgc-default-l4 p-3 align-items-center d-flex w-100">
                    <div>
                        Motrando <span class="text-600" id="inicioMessage">1</span> - <span class="text-600" id="finalMessage">10</span>
                        de um total de
                        <span class="text-600">@Html.DisplayFor(a => a.QtdRegistros)</span> mensagens
                    </div>
                    <div class="ml-auto">
                        <nav class="d-inline-block" aria-label="Inbox navigation">
                            <ul class="pagination align-items-center d-inline-flex mb-0">
                                <li class="page-item mr-1" onclick="VoltarMessage('@Model.EmailMessages.ToList()[0].TerapeutaId')">
                                    <a class="page-link btn py-2 px-25 btn-sm border-2 brc-sec1ondary-l1 radius-r-0 text-600 btn-bgc-white btn-lighter-secondary btn-h-default btn-a-default">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item" onclick="AvancarMessage('@Model.EmailMessages.ToList()[0].TerapeutaId', @Model.QtdRegistros)">
                                    <a class="page-link btn py-2 px-25 btn-sm border-2 brc-sec1ondary-l1 radius-l-0 text-600 btn-bgc-white btn-lighter-secondary btn-h-default btn-a-default">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-xl-9 pt-3 d-none" id="message-view">
            </div>
        </div>
        <div class="position-br pos-fixed mb-5 pb-3 mr-2 d-sm-none">
            <button type="button" class="shadow ml-2 btn btn-info radius-round mw-auto px-3 py-2" data-toggle="modal" data-target="#aside-compose">
                <i class="fa fa-pen mr-1"></i>
                Compose
            </button>
        </div>
        <div class="modal modal-nb ace-aside aside-bottom aside-r aside-fade aside-offset aside-shown-above-nav" id="aside-compose" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-dialog modal-dialog-scrollable mr-2 my-2" style="width: 640px;" role="document">
                <div class="modal-content border-0 mb-2 radius-1 shadow">
                    <div class="modal-header bgc-dark-d3 border-0 text-white pt-25 pb-2">
                        <h5 class="text-110 py-0 my-0">
                            New Message
                        </h5>
                        <a href="#" class="action-btn text-white bgc-h-white-tp9 radius-1 px-2 py-1" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form autocomplete="off" class="d-flex flex-column">
                            <div class="form-group row">
                                <div class="flex-grow-1 px-3">
                                    <input type="text" class="px-1 brc-grey-l2 form-control border-none border-b-1 shadow-none radius-0" id="id-form-field-1" placeholder="Recipients" />
                                </div>
                            </div>
                            <div class="form-group row my-2">
                                <div class="flex-grow-1 px-3">
                                    <input type="text" class="px-1 brc-grey-l2 form-control border-none border-b-1 shadow-none radius-0" i1d="id-form-field-1" placeholder="Subject">
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <div class="px-3 w-100">
                                    <div id="message-editor" placeholder="Type your message" class="overflow-auto text-wrap w-100" style="height: 360px; max-height: 50vh;">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div id="message-editor-toolbar" class="collapse position-bl w-100">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start bgc-secondary-l4">
                        <button type="button" class="btn btn-blue py-15 px-4 ml-2">
                            Send
                        </button>
                        <div class="ml-3 pl-3 border-l-1 brc-secondary-l1">
                            <a data-toggle="collapse" href="#message-editor-toolbar" class="btn btn-tp btn-white">
                                <i class="fa fa-font"></i>
                            </a>
                            <a href="#" class="btn btn-tp btn-white">
                                <i class="fa fa-paperclip"></i>
                            </a>
                            <div class="dropdown d-inline-block">
                                <a href="#" class="btn btn-tp btn-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-smile text-125"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right p-1">
                                    <div class="d-flex ">
                                        <a class="dropdown-item px-25" href="#">
                                            <span class="fa-stack w-auto">
                                                <i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
                                                <i class="fas fa-smile text-warning-m3 text-125 fa-stack-1x pos-rel"></i>
                                            </span>
                                        </a>
                                        <a class="dropdown-item px-25" href="#">
                                            <span class="fa-stack w-auto">
                                                <i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
                                                <i class="fas fa-smile-beam text-warning-m3 text-125 fa-stack-1x pos-rel"></i>
                                            </span>
                                        </a>
                                        <a class="dropdown-item px-25" href="#">
                                            <span class="fa-stack w-auto">
                                                <i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
                                                <i class="fas fa-smile-wink text-warning-m3 text-125 fa-stack-1x pos-rel"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <span class="text-grey-d1 text-95 mr-2">Draft saved at 9:21 pm</span>
                            <a href="#" class="btn btn-tp btn-outline-grey btn-h-lighter-danger btn-a-lighter-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/ace-v3.1.1/node_modules/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/lib/ace-v3.1.1/views/pages/page-inbox/page-script.js"></script>
</body>
