@model VedaSystem.Domain.Models.Log

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Log</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeComputador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeComputador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Controller_Action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Controller_Action)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servico_Metodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servico_Metodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repositorio_Metodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repositorio_Metodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Informacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Informacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoJson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Excecao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Excecao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
