@model VedaSystem.Domain.Models.Prescricao

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Prescricao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terapeuta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terapeuta.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDaPrescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDaPrescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidadeDaPrescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidadeDaPrescricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
